@model ParsedWordsViewModel

<div @*style="margin-left:20px"*@>
    <table id="jqGrid-parsedWords"></table>
    <div id="jqGridPager-parsedWords"></div>
    @using(Ajax.BeginForm("SaveParsedWords", "ForeignText", new AjaxOptions() { LoadingElementId = "spinner", OnComplete = "saveParcedWordsComplete", OnBegin = "saveParcedWordsBegin", HttpMethod = "POST", AllowCache = false, OnFailure = "saveParcedWordsFail", OnSuccess = "saveParcedWordsSuccess" }, new { id = "parsed-words-form" }))
    {
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div id="saveParsedWordsAjaxInfo" class="text-danger"></div>
        <div>
            <div>@Html.LabelFor(m => m.Language_Id, "Язык")</div>
            <div>@Html.DropDownListFor(m => m.Language_Id, Model.Languages)</div>
        </div>

        <div>
            <div>@Html.LabelFor(m => m.Status_Id, "Статусы слов")</div>
            <div>@Html.DropDownListFor(m => m.Status_Id, Model.Statuses)</div>
        </div>

        <div>
            <div>@Html.LabelFor(m => m.SetName, "Набор")</div>
            <div>@Html.TextBoxFor(m => m.SetName, Model.Sets)</div>
        </div>
        <input type="hidden" name="WordsJson" />
        <input type="submit" value="Сохранить слова" id="saveParcedWordsSubmit" />
        <i style="display:none" class="fas fa-spinner fa-pulse" id="spinner"></i>
        <div></div>
    }
</div>
<hr />
<script>

    function getinfo_div$() { return $("#saveParsedWordsAjaxInfo"); }

    function saveParcedWordsComplete() {
        $('#saveParcedWordsSubmit').show();
    }
    function saveParcedWordsBegin() {
        $('#saveParcedWordsSubmit').hide();
    }

    $("#parsed-words-form").submit(function (eventObj) {
        let rows = JqGridExt.GetSelectedRows("#jqGrid-parsedWords");//mydata
        if (rows.length == 0) {
            showAjaxResult('Не выбраны строки!');
            return false;
        }
        var rowsAsStr = JSON.stringify(rows);
        $("input[name='WordsJson']").val(rowsAsStr);
        return true;
    });

    
    function saveParcedWordsSuccess(data, st, resp) {

        if (data) {
            showAjaxResult("Saved succesfull " + data + " words at " + new Date().toLocaleString());
            getinfo_div$().switchClass("text-danger", "text-positive");
        }
        else
            showAjaxResult('are you logged in?');

    }

    function saveParcedWordsFail(xhr, st, text) {

        showAjaxResult('save error at '+new Date().toLocaleString()+' : \''+ text+'\'');
        getinfo_div$().switchClass("text-positive", "text-danger");
    }

    function showAjaxResult(message) {
        getinfo_div$().text(message);
    }

    @if(!string.IsNullOrEmpty(Model.WordsJson))
    {<text>

    var mydata = JSON.parse('@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.WordsJson))');

    function gridIntin() {
        $("#jqGrid-parsedWords").jqGrid({
            data: mydata,
            datatype: "local",
            //styleUI: "Bootstrap",
            colModel: [
                { name: "id", key: true, editable: false, hidden: true },
                { label: 'Слово', name: 'Word', width: 75, editable: true },
                { label: 'Кол-во', name: 'Count', width: 80, sorttype: 'number', editable: false }
            ],
            viewrecords: true, // show the current page, data rang and total records on the toolbar
            width: 780,
            height: 500,
            rowNum: 5000,
            rowList: [25, 50, 75, 100, 500, 1000, 5000],
            loadonce: true, // this is just for the demo
            pager: "#jqGridPager-parsedWords",
            //editurl: 'clientArray',
            editurl: 'clientArray', cellsubmit: 'clientArray',//, cellEdit: true
            //,cellEdit: true
            multiselect: true,
        });

        $('#jqGrid-parsedWords').navGrid("#jqGridPager-parsedWords",
            { edit: false, add: false, del: true, refresh: false, view: false },
            // options for the Edit Dialog
            {
            },
            // options for the Add Dialog
            {
            },
            // options for the Delete Dailog
            {
            },
            {
                multipleSearch: true,
            });
        $('#jqGrid-parsedWords').inlineNav('#jqGridPager-parsedWords',
            // the buttons to appear on the toolbar of the grid
            {
                edit: true,
                add: false,
                del: false,
                cancel: true,
                editParams: {
                    keys: true,
                },
                addParams: {
                    keys: true
                }
            });

    }

    gridIntin();
    //$(document).ready();

    </text>
        }
</script>

