@model ParseWordsViewModel
<style>
    textarea {
        max-width: 100%;
    }
</style>
<div>
    @using(Ajax.BeginForm(new AjaxOptions() { AllowCache = false, UpdateTargetId = "parsed-words-area", InsertionMode = InsertionMode.Replace, LoadingElementId = "load-el" }))
    {
        @Html.ValidationSummary("", new { @class = "text-danger", id = "validation-summary" })

        <div>
            @Html.LabelFor(m => m.SeparatorsStr, "Разделители(☺-разделитель разделителей, ☻-charcode)")
            @Html.TextBoxFor(m => m.SeparatorsStr)
        </div>

        <div>
            @Html.LabelFor(m => m.SeparatorsStr, "Исключить существующие", new { title = "Исключить слова которые уже есть в вашем словаре?" })
            @Html.CheckBoxFor(m => m.ExcludeExists)
        </div>


        <div>
            <div>@Html.LabelFor(m => m.SeparatorsStr, "Текст")</div>
            <div>@Html.TextAreaFor(m => m.Text, new { cols = 100, rows = 15 })</div>
        </div>
        <input type="submit" value="Разобрать" class="btn btn-default" />
        <span id="load-el" style="display:none" class="glyphicon glyphicon-hourglass"></span>
    }
</div>
<hr />
<div id="parsed-words-area"></div>
